.menu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    color: #FFF;
}

.menu-item {
    height: 580px;
    width: 300px;
    border-radius: 3px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.menu-photo {
    height: 250px;
    width: 300px;
}

#menu-photo {
    height: 100%;
    width: 100%;
}

.menu-title {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    padding: 3px 5px;
    justify-content: space-between;
}

.menu-title .title {
    color: #F4CE14;
}

.menu-description {
    padding: 5px;
    font-size: 16px;
}

.menu-description .delivery-fee {
    color: #F4CE14;
}

.description {
    line-height: 1.55em;
}

.delivery-fee {
    display: flex;
    padding-top: 18px;
    justify-content: center;
    align-self: center;
}