nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    z-index: 1001;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.nav-list {
    display: flex;
}

.nav-list li {
    margin-right: 1rem;
    font-size: 1rem;
}

.nav-list a {
    color: #000000;
}

#nav-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    #nav-menu.active {
        transform: translateX(0);
    }

    #nav-menu {
        display: flex;
    }

    #close-icon, #hamburger {
        display: block;
        font-size: 30px;
        font-weight: 200;
    }

    .nav-list {
        display: none;
    }

    .active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 90px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
        width: 100%;
        right: 0;
        align-items: center;
        transition: all 0.5s ease-in-out;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .active li {
        margin-bottom: 2.2rem;
    }

    .active a {
        color: #fff;
        font-size: 1.3rem;
        padding-bottom: 2rem;
    }

    .active a:hover {
        color: #F4CE14;
    }
}
