.customer-review {
    border: 1px solid black;
    height: 300px;
    width: 300px;
}

.review-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}